[project]
name = "icp-python"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "matplotlib>=3.10.8",
    "numpy>=2.3.5",
    "pyglet<2",
    "scipy>=1.16.3",
    "trimesh>=4.10.1",
]
